{% extends 'base_deputy.html' %}
{% load static %}
{% block title %}
    登录
{% endblock %}
{% block head %}
    <script type="text/javascript" src="{% static 'user/js.js' %}"></script>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

{% endblock %}

{#{% extends "base_deputy.html" %}#}


{% block content %}
    <section id="login_box" class="mt-3">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image row d-flex justify-content-center">
                        <figure><img src="{% static 'user/images/signin-image.jpg' %}" alt="sing up image"></figure>
                        <div class="row">
                            <a href="{% url 'user:register' %}" class="signup-image-link text-info">申请一个账号</a>
                            <span class="text-black-50 ml-3 mr-3">or</span>
                            <a href="{% url 'home' %}" class="signup-image-link text-info">返回主页面</a>
                        </div>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">登陆</h2>
                        <form method="POST" class="register-form" id="login-form" action="{% url 'user:login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" placeholder="请输入用户名"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="请输入密码"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
                                <label for="remember-me" class="label-agree-term text-muted"><span><span></span></span>记住我</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="登陆"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label text-muted">第三方登陆</span>
                            <ul class="socials">
                                <li class="col-6 pl-2 pr-2">
                                    <a href="#">
                                        <img width="25" src="{% static 'user/images/QQ-icon.png' %}" alt="">
                                        <span class="row d-flex align-items-center justify-content-center">QQ</span>
                                    </a>
                                </li>
                                <li class="col-6 pl-2 pr-2">
                                    <a href="#">
                                        <img width="25" src="{% static 'user/images/WeChat-icon.png' %}" alt="">
                                        <span class="row d-flex align-items-center justify-content-center">微信</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
