{% extends 'base.html' %}
{% load static %}
{% block title %}
    修改密码
{% endblock %}
{% block head %}
    <script type="text/javascript" src="{% static 'user/js/reset_password_js.js' %}"></script>
    <link rel="stylesheet" href="{% static 'user/css/reset_password2.css' %}">
        <style type="text/css">
        small.error_tip{
            color: #e90b03;
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <form method="post">
        <div class="container bg-white mt-sm-4 mb-5">
            <div class="wrapper d-flex justify-content-center flex-column px-md-5 px-1">
                <div class="h3 text-center font-weight-bold">修改密码</div>
                <form method="post" action="{% url 'user:reset_pwd2' %}" id="reset_password_form">
                    {% csrf_token %}
                    <div class="row my-4 offset-3">
                        <div class="col-md-6"><label>用户名</label>
                            <input type="text" placeholder="{{ user.username }}" ></div>
                    </div>
                    <div class="row my-4 offset-3">
                        <div class="col-md-6 pt-md-0 pt-4"><label>旧密码</label>
                            <input type="password" placeholder="请输入旧密码">
                        </div>
                    </div>
                    <div class="row my-md-4 my-2 offset-3">
                        <div class="col-md-6"><label>新密码</label>
                            <input type="password" placeholder="请输入新密码" id="new_password1" name="new_password1">
                            <small class="error_tip">提示信息</small>
                        </div>
                    </div>
                    <div class="row my-md-4 my-2 offset-3">
                        <div class="col-md-6 pt-md-0 pt-4"><label>确认新密码</label>
                            <input type="password" placeholder="请再次输入新密码" id="new_password2" name="new_password2">
                            <small class="error_tip">提示信息</small>
                        </div>

                    </div>
                </form>
                <div class="d-flex justify-content-end">
                    <!-- 弹出 忘记旧密码？ 模态框 -->
                    <button type="button" class="btn-sm m-4 btn-forget" style="border: 0px" data-toggle="modal"
                            data-target="#forget_old_pwd">忘记旧密码？
                    </button>
                    <button class="btn m-3" id="btn_submit">提交</button>
                </div>
            </div>
        </div>
    </form>
    <!-- 服务条款 模态框 -->
    <div class="modal fade" id="forget_old_pwd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">忘记旧密码?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 模态框body begin -->
                    <p>
                        请退出登陆后，在登陆页面点击「忘记密码？」，使用绑定的邮箱进行身份验证后方可更改密码
                    </p>
                    <p class="text-muted small">
                        后端攻城狮把这个跳转写死了，只能没登录的时候访问，我只是一个前端画画的，我有什么办法呢(╥╯^╰╥)
                    </p>
                    <!-- 模态框body end -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}