/*************************尾部*************************/

#index_footer {
    width: 100%;
    /*background: url("../img/TFfooterBGImg.png");*/
}

#index_footer .container-fluid .row div > ul > li > a {
    color: #000;
    font-family: 幼圆;
}

#index_footer .container-fluid {
    color: #000;
    font-family: 幼圆;
}


/*************************尾部*************************/

