/************************轮播图begin*********************/
#index_carousel {
    /*background-color: #843fda;*/
}

#index_carousel .carousel-item {
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#index_carousel .carousel-item img {
    width: 100%;
}

@media screen and (min-width: 900px) {
    #index_carousel .carousel-item {
        height: 410px;
    }
}

/************************轮播图end*********************/

/************************友情链接begin*********************/
#index_link .container .row > div > div > a {

}

/************************友情链接end*********************/

/************************轮播图begin*********************/
/************************轮播图end*********************/

/************************轮播图begin*********************/
/************************轮播图end*********************/

/************************轮播图begin*********************/
/************************轮播图end*********************/

/************************轮播图begin*********************/
/************************轮播图end*********************/

/************************轮播图begin*********************/
/************************轮播图end*********************/


