{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/self_button.css' %}">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/problems_list.css' %}">
{% endblock %}

{% block title %}Category{% endblock %}

{% block content %}
    <section>
        <div class="container mt-3 mb-1" id="introduction">
            <div class="row">
                <div class="offset-sm-2 col-sm-8" id="detail">
                    <h1><b>二分查找</b></h1>
                    <p>二分查找也称折半查找（Binary Search），它是一种效率较高的查找方法，前提是数据结构必须先排好序，
                        可以在数据规模的对数时间复杂度内完成查找。但是，二分查找要求线性表具有有随机访问的特点（例如数组），也要求线性表能够根据中间元素的特点推测它两侧元素的性质，以达到缩减问题规模的效果。
                        <br/> 二分查找问题也是面试中经常考到的问题，虽然它的思想很简单，但写好二分查找算法并不是一件容易的事情。
                        <br/> 以下是二分查找的相关练习，可以帮助你进一步了解二分查找，快来试试吧！
                    </p>
                </div>
            </div>
        </div>
        <!-- 题目列表begin -->
        <div class="container">
            <div class="card offset-sm-2 col-sm-8 mb-3">
                <div class="card-body py-3 row align-items-center">
                    <div class="col-1 text-muted text-center">
                        <!--fa-check是 √    fa-question是 ?-->
                        <i class="fa fa-check fa-fw" style="color: #ACF233"></i>
                    </div>
                    <div class="col-2 text-muted text-center">1000</div>
                    <div class="col-4 text-muted"><a href="/problems/problem">A+B Problem</a></div>
                    <div class="col-1 text-muted">
                        <a href="http://acm.hdu.edu.cn/">
                            <button type="button" class="btn btn-sm btn-outline-success">HDU</button>
                        </a>
                    </div>
                    <div class="col-3 text-muted text-right">290481 / 29.81%</div>
                </div>
                <hr class="m-0">
                <div class="card-body py-3 row align-items-center">
                    <div class="col-1 text-muted text-center">
                        <!--fa-check是 √    fa-question是 ?-->
                        <i class="fa fa-check fa-fw" style="color: #ACF233"></i>
                    </div>
                    <div class="col-2 text-muted text-center">1000</div>
                    <div class="col-4 text-muted"><a href="/problems/problem">A+B Problem</a></div>
                    <div class="col-1 text-muted">
                        <a href="http://acm.hdu.edu.cn/">
                            <button type="button" class="btn btn-sm btn-outline-success">HDU</button>
                        </a>
                    </div>
                    <div class="col-3 text-muted text-right">290481 / 29.81%</div>
                </div>
                <hr class="m-0">
                <div class="card-body py-3 row align-items-center">
                    <div class="col-1 text-muted text-center">
                        <!--fa-check是 √    fa-question是 ?-->
                        <i class="fa fa-check fa-fw" style="color: #ACF233"></i>
                    </div>
                    <div class="col-2 text-muted text-center">1000</div>
                    <div class="col-4 text-muted"><a href="/problems/problem">A+B Problem</a></div>
                    <div class="col-1 text-muted">
                        <a href="http://acm.hdu.edu.cn/">
                            <button type="button" class="btn btn-sm btn-outline-success">HDU</button>
                        </a>
                    </div>
                    <div class="col-3 text-muted text-right">290481 / 29.81%</div>
                </div>
                <hr class="m-0">
                <div class="card-body py-3 row align-items-center">
                    <div class="col-1 text-muted text-center">
                        <!--fa-check是 √    fa-question是 ?-->
                        <i class="fa fa-check fa-fw" style="color: #ACF233"></i>
                    </div>
                    <div class="col-2 text-muted text-center">1000</div>
                    <div class="col-4 text-muted"><a href="/problems/problem">A+B Problem</a></div>
                    <div class="col-1 text-muted">
                        <a href="http://acm.hdu.edu.cn/">
                            <button type="button" class="btn btn-sm btn-outline-success">HDU</button>
                        </a>
                    </div>
                    <div class="col-3 text-muted text-right">290481 / 29.81%</div>
                </div>
                <hr class="m-0">
                <div class="card-body py-3 row align-items-center">
                    <div class="col-1 text-muted text-center">
                        <!--fa-check是 √    fa-question是 ?-->
                        <i class="fa fa-check fa-fw" style="color: #ACF233"></i>
                    </div>
                    <div class="col-2 text-muted text-center">1000</div>
                    <div class="col-4 text-muted"><a href="/problems/problem">A+B Problem</a></div>
                    <div class="col-1 text-muted">
                        <a href="http://acm.hdu.edu.cn/">
                            <button type="button" class="btn btn-sm btn-outline-success">HDU</button>
                        </a>
                    </div>
                    <div class="col-3 text-muted text-right">290481 / 29.81%</div>
                </div>
                <hr class="m-0">
                <div class="card-body py-3 row align-items-center">
                    <div class="col-1 text-muted text-center">
                        <!--fa-check是 √    fa-question是 ?-->
                        <i class="fa fa-check fa-fw" style="color: #ACF233"></i>
                    </div>
                    <div class="col-2 text-muted text-center">1000</div>
                    <div class="col-4 text-muted"><a href="/problems/problem">A+B Problem</a></div>
                    <div class="col-1 text-muted">
                        <a href="http://acm.hdu.edu.cn/">
                            <button type="button" class="btn btn-sm btn-outline-success">HDU</button>
                        </a>
                    </div>
                    <div class="col-3 text-muted text-right">290481 / 29.81%</div>
                </div>
                <hr class="m-0">
                <div class="card-body py-3 row align-items-center">
                    <div class="col-1 text-muted text-center">
                        <!--fa-check是 √    fa-question是 ?-->
                        <i class="fa fa-check fa-fw" style="color: #ACF233"></i>
                    </div>
                    <div class="col-2 text-muted text-center">1000</div>
                    <div class="col-4 text-muted"><a href="/problems/problem">A+B Problem</a></div>
                    <div class="col-1 text-muted">
                        <a href="http://acm.hdu.edu.cn/">
                            <button type="button" class="btn btn-sm btn-outline-success">HDU</button>
                        </a>
                    </div>
                    <div class="col-3 text-muted text-right">290481 / 29.81%</div>
                </div>
                <hr class="m-0">
                <div class="card-body py-3 row align-items-center">
                    <div class="col-1 text-muted text-center">
                        <!--fa-check是 √    fa-question是 ?-->
                        <i class="fa fa-check fa-fw" style="color: #ACF233"></i>
                    </div>
                    <div class="col-2 text-muted text-center">1000</div>
                    <div class="col-4 text-muted"><a href="/problems/problem">A+B Problem</a></div>
                    <div class="col-1 text-muted">
                        <a href="http://acm.hdu.edu.cn/">
                            <button type="button" class="btn btn-sm btn-outline-success">HDU</button>
                        </a>
                    </div>
                    <div class="col-3 text-muted text-right">290481 / 29.81%</div>
                </div>
                <hr class="m-0">
            </div>
        </div>
        <!-- 题目列表end -->
    </section>
{% endblock %}

{% block js %}
    {#<script type="text/javascript" src="{% static 'js/problem.js' %}"></script>#}
{% endblock %}