{% extends 'base.html' %}
{% load problem_tags %}
{% load static %}
{% block title %}
    题目分类
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/self_button.css' %}">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/problems_list.css' %}">
{% endblock %}
{% block content %}
    <section>
        <div class="container mt-3 mb-1" id="introduction">
            <div class="row">
                <div class="offset-sm-2 col-sm-8" id="detail">
                    <h1><b>{{ category.title }}</b></h1>
                    <p>
                        {{ category.content|safe }}
                    </p>
                </div>
            </div>
        </div>
        <!-- 题目列表begin -->
        <div class="container">
            <div class="card offset-sm-2 col-sm-8 mb-3">
                {% for problem in problem_list %}
                <div class="card-body py-3 row align-items-center">
                    <div class="col-1 text-muted text-center">
                        <!--fa-check是 √    fa-question是 ?-->
                        <i class="fa {% get_status problem%} fa-fw"></i>
                    </div>
                    <div class="col-2 text-muted text-center">{{ problem.problem_id }}</div>
                    <div class="col-4 text-muted"><a href="{% url 'problem:problem_detail' problem.slug %}">{{ problem.title }}</a></div>
                    <div class="col-1 text-muted">
                        <a href="http://acm.hdu.edu.cn/">
                            <button type="button" class="btn btn-sm btn-outline-success">HDU</button>
                        </a>
                    </div>
                    <div class="col-3 text-muted text-right">{{ problem.submitted }} | {{ problem.pass_rate }}%</div>
                </div>
                <hr class="m-0">
                {% endfor %}
                <hr class="m-0">
            </div>
        </div>
        <!-- 题目列表end -->
    </section>

{% endblock %}