{% extends 'base.html' %}
{% block title %}
    problems
{% endblock %}
{% block content %}
    这是题目内容
    <h1>{{ problem.title}}</h1>
    <p>{{ problem.description }}</p>
    {% for category in problem.category.all %}
    <small>{{ category }}</small>
    {% endfor %}
    <h5>代码提交</h5>
            source = request.POST.get('source')
        code = request.POST.get('code')
        language = request.POST.get('language')
        problem_id = request.POST.get('problem_id')

        <form method="post" action="#" id="submit_form" >
            {% csrf_token %}
            来源<input type="text" name="source" >
            语言<input type="text" name="language">
            代码<textarea name="code">

            </textarea>
            <input type="hidden" name="problem_id" value="{{ problem.problem_id }}">
        </form>
                <button type="button" id="submit_btn">提交</button>


{% endblock %}