/******************忘记密码按钮*********************/
.btn-forget {
  color: #7b8e94;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-forget:hover,
.btn-forget:focus,
.btn-forget:active,
.btn-forget.active,
.open .dropdown-toggle.btn-forget {
  color: #D9D9D9;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-forget:active,
.btn-forget.active,
.open .dropdown-toggle.btn-forget {
  background-image: none;
}

.btn-forget.disabled,
.btn-forget[disabled],
fieldset[disabled] .btn-forget,
.btn-forget.disabled:hover,
.btn-forget[disabled]:hover,
fieldset[disabled] .btn-forget:hover,
.btn-forget.disabled:focus,
.btn-forget[disabled]:focus,
fieldset[disabled] .btn-forget:focus,
.btn-forget.disabled:active,
.btn-forget[disabled]:active,
fieldset[disabled] .btn-forget:active,
.btn-forget.disabled.active,
.btn-forget[disabled].active,
fieldset[disabled] .btn-forget.active {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-forget .badge {
  color: #FFFFFF;
  background-color: #D9D9D9;
}
/*****************更改密码***********/
.search {
    background-color: #fdfbfc
}

div.btn,
button.btn {
    background-color: #2869c4;
    color: #eee
}

div.btn:hover,
button.btn:hover {
    background-color: rgba(162, 223, 255, 0.84)
}

#language {
    float: right
}

#language select {
    border: none;
    outline: none
}

.wrapper {
    width: 85%;
    margin: 20px auto;
    box-shadow: 1px 1px 30px 10px rgba(250, 250, 250, 0.8)
}

.h3 {
    padding-top: 40px;
    font-size: 34px
}

label {
    display: block;
    font-size: 0.8rem;
    font-weight: 700
}

input {
    border: none;
    outline: none;
    border-bottom: 2px solid #ddd;
    width: 100%;
    padding-bottom: 10px
}

.wrapper {
    clear: both
}

#country {
    border: none;
    outline: none;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 2px solid #ddd
}

.wrapper .col-md-6:hover label {
    color: #2869c4
}

.wrapper .col-md-6:hover input,
.wrapper .col-md-6:hover #country {
    border-color: #2869c4;
    cursor: pointer
}

.wrapper .col-md-6 input:focus {
    border-color: #2869c4
}

.option {
    position: relative;
    padding-left: 30px;
    display: block;
    cursor: pointer;
    color: #888
}

.option input {
    display: none
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%
}

.option input:checked ~ .checkmark:after {
    display: block
}

.option .checkmark:after {
    content: "\2713";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out 0s
}

.option:hover input[type="radio"] ~ .checkmark {
    background-color: #f4f4f4
}

.option input[type="radio"]:checked ~ .checkmark {
    background: #ac1f32;
    color: #fff;
    transition: 300ms ease-in-out 0s
}

.option input[type="radio"]:checked ~ .checkmark:after {
    transform: translate(-50%, -50%) scale(1);
    color: #fff
}
small.error_tip{
            color: #e90b03;
            display: none;
        }